.banner_content_contact{
  background-color: rgba(.25, .25, .25, 0.7);
  padding: 3em;
  width: 100%;
  text-align: center;
}

.form-box{
  text-align: right;
  font-size: 15px;
  width: 29em !important;
  margin: auto;
}

  .input{
    margin: 10px;
  }

  label{
    margin: 5px;
    color: #e8e8e8;
  }

  input{
    width: 20em;
    padding: 2px;
  }

  .btn{
    width: 8em;
    margin-right: 5em;
}

#contact_message{
  height: 160px;
  width: 20em;
  padding: 5px;
}

#contact_preference{
  width: 20em;
  color: black;
}

.select{
  label{ margin-right: 12.5em;}
}

#contact_heading{
  h1{
    margin-left: 2em !important;
    color: #e8e8e8;
  }
}

#message_box{
  label{margin-bottom: 10px;}
}

@media screen and (max-width: 780px){
  .banner_content_contact {
    padding: 1em;
    label {
      margin: 4px;
      font-size: small;
    }
  }
  .form-box {
    text-align: left;
    font-size: 12px;
    width: 22em !important;
  }

  #contact-banner{
    height: 830px;
  }

  #contact_heading h1 {
    margin-left: 0em !important;
  }

  #submit-btn{
    margin-left: 22%;
  }
}
