.banner_content_contact{
  background-color: rgba(.25, .25, .25, 0.7);
  padding: 3em 7em;
  margin: 0 18em;
  width: 100%;
  text-align: center;
  h1{ font-size: 49px;
    margin-bottom: 13px;}
  h3{
    display: inline;
    color: white;
  }
  p{
    color: white;
    margin: 2em 0 1em ;
    font-size: 18px;
  }
}

.form-box{
  text-align: right;
  font-size: 15px;
  width: 29em !important;
  margin: auto;
}

.input{
  margin: 10px;
}

label{
  margin: 5px;
  color: #e8e8e8;
  vertical-align: top;
  font-weight: 400 !important;
}

input{
  width: 20em;
  padding: 2px;
}

.btn{
  width: 8em;
}

.contact-phone{
  color: $yellow;
  font-size: 24px;
}

.contact-phone:hover{
  text-decoration: none;
  color: #d6d064;
}

#contact-banner{
  height: 909px;
}

#contact_message{
  height: 160px;
  width: 20em;
  padding: 5px;
}

#contact_preference{
  width: 20em;
  color: black;
}


.contact_preference {
  text-align: left;
  select{ margin-left: 115px; }
}


#contact_heading{
  h1{color: #e8e8e8;}
}

#message_box{
  label{ margin-bottom: 10px; }
}

#submit-btn{
  margin-right: 8em;
}

.error, .error_notification {
    display: block;
    color: #e26d6d;
}

.error_notification{
  text-align: center;
}

.alert{ margin-bottom: 0 !important; }

.radio{ display: inline !important;}

.contact_subject {
  margin: unset;
  font-size: 13px;
  padding: 6px;
  }

@media screen and (max-width: 780px){
  .banner_content_contact {
    padding: 1em;
    h3{ font-size: 19px;}
    label {
      margin: 4px;
      font-size: small;
    }
  }
  .form-box {
    text-align: left;
    font-size: 12px;
    width: 22em !important;
  }

  #contact-banner{
    height: 830px;
  }

  #contact_heading h1 {
    margin-left: 0em !important;
  }

  .form-actions{
    text-align: center;
  }

  #submit-btn{
    margin-right: 0;
  }

  .contact-phone{ font-size: 19px;}


  .contact_preference {
    select{ margin-left: 0px; }
  }
}
