
.banner{
  width: 100%;
  background-size: cover;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);

}

.banner-content{
  color: #e8e8e8;
  background-color: rgba(.25, .25, .25, 0.7);
  padding: 81px;
  width: 100%;
  margin-top: -100px;
  text-align: center;
}

.first-box{
  background-color: #F4F4F4;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 100px;
  padding-bottom: 100px;
  h3{ margin-top: 0px !important;}
}

#services-image{
  display: flex;
  justify-content: space-between;
}

.banner-box{
  background-color: rgba(.25, .25, .25, 0.7);
  height: 480px;
  width: 1015px;
  border-radius: 3px;
  margin: auto;
  color: white;
  padding: 100px;
}

.btn{
  background-color: $yellow;
  border-color: #7a7474;
  border-radius: 3px;
  color: #204a54;
  padding: 9px;
  font-size: 18px;
  font-weight: normal;
  text-shadow: none;
}

.btn:hover{
  background-color: #d6d064;;
}

#home-btn{ margin-top: 1em;}
