
.banner{
  width: 100%;
  background-size: cover;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  background-attachment: fixed;
}

.banner-content{
  color: $white;
  background-color: rgba(.25, .25, .25, 0.7);
  padding: 81px;
  width: 100%;
  margin-top: -100px;
  text-align: center;
  h1{
    color: white;
    font-size: 3em;
  }
}

.first-box{
  background-color: #F4F4F4;
  padding: 100px 18% ;
  p{ font-size: 20px;}

  h3{
    font-size: 3em;
    margin-top: 0px !important;
  }
}

#services-image{
  display: flex;
  justify-content: space-between;
}

.banner-box{
  background-color: rgba(.25, .25, .25, 0.7);
  height: 480px;
  width: 1015px;
  border-radius: 3px;
  margin: auto;
  color: $white;
  padding: 79px 55px;
}

.btn{
  background-color: $yellow;
  border-color: #7a7474;
  border-radius: 3px;
  color: #204a54;
  padding: 7px;
  font-size: 18px;
  font-weight: normal;
  text-shadow: none;
}

.btn:hover{
  background-color: #d6d064;;
}

#home-btn{
  width: auto;
  margin-top: 1.2em;
  padding-left: 11px;
  padding-right: 11px;
}

 #phone-num{
    display: block;
    font-size: 2.5em;
    color:$white;
  }

  #services-box{
    h3{
    font-size: 3em;
    margin: 20px 0 15px;
    color: white;
    }

    p{ font-size: 25px; }

    li{
      font-size: 20px;
      padding-top: 12px;
    }
    ul{ font-weight: 300; }
  }

//-------Mobile view of home screen
@media screen and (max-width: 720px){
  .banner-content{
    padding: 60px;
    margin-top: -40px;
  h1{ font-size: 34px;
}
}

#home-btn{
  padding-left: 5px;
  padding-right: 5px;
}

.first-box {
    padding-left: 45px;
    padding-right: 26px;
    text-align: justify;
    p{ font-size: 16px; }
    h3{ font-size: 3em;}
  }

.banner{
  height: 475px;
}

#services-box{
    padding: 35px 45px;
    h3{ font-size: 3em;}
    ul{ padding-left: 16px; }
    p{ font-size: 20px;}
    li{ font-size: 16px;}
  }

#phone-num{
  font-size: 27px;
}

}
