<div class="banner" , style="background-image: url(<%= image_path("pool.jpg")%> );">
  <div class="banner-content">
    <h1>Denver Pool Management</h1>
    <p>Find me in app/views/pages/about.html.erb</p>
  </div>
</div>
