
<div class="banner" , style="background-image: url(<%= image_path("pool.jpg")%> );">
  <div class="banner-content">
    <h1>Denver Pool Management</h1>
    <a href="tel:3033458423" id="phone-num" style="text-decoration: none;">(303) 345-8423</a>
    <%= link_to "REQUEST AN ESTIMATE", contact_path, class: "btn", id: "home-btn"%>
  </div>
</div>

<div class="first-box">
  <h3>Who We Are</h3>
  <p>Simply put, this is what commercial pool service should always be. Denver Pool Management prides itself on superior customer service and communication, a commitment to ethical practices, and detail-oriented work. DPM is a full-service commercial swimming pool management company, providing services ranging from basic pool maintenance (balancing chemicals, debris removal) and equipment repairs – to on-site staffing of lifeguards and monitors – to large scale repairs, remodels and new builds. And regardless of the scope of work, DPM prides itself on its customer-friendly approach!</p>
</div>

<div class="banner" , id="services-image", style="background-image: url(<%= image_path("feet.jpg")%> );">

  <div class="banner-box", id= "services-box">
    <h3>Services</h3>
    <p>Full commercial pool management, including:</p>
    <ul>
      <li>Service, basic maintenance and chemical supply</li>
      <li>Small-scale repairs and equipment upgrades</li>
      <li>Lifeguards and monitors</li>
      <li>Equipment room rebuilds, structural repairs and remodels, and new build design and construction</li>
    </ul>
  </div>
</div>

