
<div class="banner" , style="background-image: url(<%= image_path("pool.jpg")%> );">
  <div class="banner-content">
    <h1>Denver Pool Management</h1>
    <%= link_to "REQUEST AN ESTIMATE", contact_path, class: "btn", id: "home-btn"%>
  </div>
</div>

<div class="first-box">
  <h3>Who We Are</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel lectus id quam pellentesque eleifend et eget felis. Nam sagittis risus mauris, eleifend condimentum orci commodo ac. Fusce rhoncus diam nec egestas tincidunt. Donec gravida sem orci, quis congue dolor rhoncus in. Donec molestie lectus vitae tellus volutpat, et luctus urna accumsan. Nulla convallis eros nec aliquam elementum. Nulla tristique urna a augue suscipit suscipit. Morbi consequat dignissim risus, vel sodales lorem tincidunt et. Donec id lacus at mi tincidunt luctus a eget orci.</p>
</div>

<div class="banner" , id="services-image", style="background-image: url(<%= image_path("feet.jpg")%> );">

  <div class="banner-box", id= "services-box">
    <h3>Services</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel lectus id quam pellentesque eleifend et eget felis. Nam sagittis risus mauris.</p>
  </div>
</div>

