<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>

    .title{
      background: black;
     /* width: 789px;*/
      padding: 10px 0px 10px 5px;
      margin-bottom: -20px;
    }


    h1 {
      font-weight: lighter;
      margin-left: 10px;
      color: white }

      .wrapper{
       padding: 4em 2em 4em 2em;
       background: #D0D0D0;
      }
      /* Email styles need to be inline */
    li{
      color: #4C6F7B;
      list-style: none;
      font-weight: lighter;
      padding-top: 5px;
    }

    .customer-box{
      width: 83%;
      border-top: solid;
      border-top-color: #F7F36B;
      padding: 10px;
      margin: 10px;
    }

    .subject{
      font-size: 31px;
      margin-bottom: 39px;
      color: #255965;
    }

    p{
      color: purple;
      padding-top: 50px;
     }


    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
